
:root{
    background-color: rgb(0, 0, 0);
}

.fråga-taesk-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 10%;
}

.chat-container{
    height: 500px;
    width: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 20px;
    border-color: black;
    border-style: solid;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
    overflow: hidden;
    
}

.response-container{
    text-align: center;
    z-index: 2;
    width: 60%;
}

.response-text-container{
    text-align:center;
    font-size: 24px;
    color: green;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.submit{
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    width: 250px;
    height: 25px;
    padding: 5px;
}

.submit::placeholder{
    color: black;
    padding: 5px;
}

.submit::target-text{
    padding: 5px;
}

.binär{
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.background{
    max-width: none;
    position: absolute;
    left: -1420px;
    top: 0px;
    z-index: -1;
    animation: animationSlide 25s linear infinite;
    object-fit:cover;
    height: 500px;
    width: 1920px;
}

.pratBubbla{
    width: 400px;
}

@keyframes animationSlide{
    from{
        left: -1420px;
    }
    to{
        left: 0px;
    }
}