
:root{
    background-color: white;
}

.chat-container{
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 20px;
    border-color: black;
    border-style: solid;
    padding: 40px;
    border-radius: 20px;
    align-items: center;
}

.chat-container > p{
    text-align: center;
}

.submit{
    border-style: solid;
}