
.header{
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #803795;
    height: 8vh;
    justify-content: space-between;
    position: fixed;
    font-family: Outfit, sans-serif;
    border-bottom: 1px solid white;
    z-index: 999;
    transition: transform 0.2s linear, height 0.2s linear;
}

.header.hide{
    transform: translateY(-10vh);
    height: 0vw;
    transition: transform 1s linear, height 1s linear;
}

.logo-container{
    display:flex;
    width: 20em;    
    padding: 8px;
}

.logo-nav:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-nav{
    padding: 10px;
    border-radius: 100px;
}

.header-right-container{
    color: white;
    /* font-size: 16px; */
    font-weight: 400;
    display: flex;
}

.navbar-container{
    padding: 2rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
}

.navbar-container:hover{
    border-bottom-style: solid;
    border-bottom-color: var(--dark-purple);
    cursor: pointer;
}

.dropdown-menu-container{
    max-height: 0px;
    position:fixed;
    top: 8vh;
    width: 100vw;
    left: 0;
    transition: max-height 0.3s linear;
    overflow-y: hidden;
}

.navbar-container.open .dropdown-menu-container{
    transition: max-height 0.3s linear;
    max-height: 100%;
}

.text-block{
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.text-block:hover{
    cursor: pointer;
}

.navbar-container.open .text-block::after{
    transform: rotate(180deg);
}

.navbar-container .text-block::after{
    transition: transform 0.3s ease;
    display: inline-block; /*::after gör elementet till display: inline vilket inte supportat transform*/
    content: "  ▼";
}

.dropdown-menu{
    background-color: #482053;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    display: grid;
}

.navbar-container.open .dropdown-menu{
    transition: transform 0.3s ease;
    transform: translateY(0);
}

.dropdown-menu-columns{
    position:relative;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-auto-rows: 40px;
}

.dropdown-header{
    font-size: 20px;
    margin-top: -10px;
}

.dropdown-menu-links{
    position: relative;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px;
    padding-left: 40px;
    transition: background-color, 0.5s ease;
}

.dropdown-menu-links > a{
    color: inherit;
    text-decoration: none;
}


.dropdown-menu-links:hover{
    background-color: #a667b8;
    transition: background-color, 0.3s ease;
    cursor: pointer;    
}

.dropdown-menu-links::before{
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    background-image: url("./img/bulletPoint.png");
    width:1.5em;
    height:1.5em;
    background-size: cover;
    transition: transform, 0.2s;
    
}

.dropdown-menu-links:hover::before{
    transform: translateY(-20px);
}

@keyframes rotates{
    100%{
        transform: rotate(360deg);
    }
}

@font-face{
    font-family: "Daddyinspace";
    src: url("./fonts/DaddyinspaceDEMO.otf") format("opentype")
}