
*{
    --img-size: 500px;
}

.menu-container{
    position: relative;
    display: block;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}


.menu-background-img{
    display:block;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: opacity 1.5s;
    animation: zoom 6s linear infinite;
    
}

.first-page-container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
}

.menu-background-img.fade-in{
    opacity: 1;
    
}

.menu-background-img.fade-out{
    opacity: 0;
}

.menu-background-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.509);
    height: 100%;
    width: 100%;
    z-index: 2;
    box-shadow: 0px -30px 10px rgba(18, 17, 17, 0.783) inset;
}

.menu-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: Daddyinspace, sans-serif;
    font-weight: 400;
    font-size: 118px;
    text-align: center;
    z-index: 3;
    animation: fadeIn 0.8s ease-in;
}

.second-menu-slide{
    /* background-color: black; */
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
    display: block;
}

.text-box-1{
    height: 550px;
    width: 1040px;
    background-color: var(--dark-purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border-color: var(--light-purple);
    border-style: solid;
    border-top: 0;
    border-left: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    color: white;
    padding: 50px;
    opacity: 0;
}

.rekå-cutout{
    
    height: var(--img-size);
    object-fit: contain;
    position: absolute;
    top: calc(100% - var(--img-size));
    left: calc(100% - var(--img-size));
    transition: height 0.3s,  top 0.3s,  left 0.3s, transform 0.1s;
    z-index: 3;

}

.spänn{
    left: 5%
}

.rekå-cutout:hover{
    --img-size: 600px;
    transition: height 0.3s,  top 0.3s,  left 0.3s;
    
}

.small-fade{
    opacity: 1;
    animation: fadeIn 0.3s linear;
}


.text-box-1 > h2{
    margin-bottom: 50px;
}

.text-box-1 > p{
    font-size: 20px;
}

.custom-shape-divider{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 1;
    fill: var(--light-purple);
    
}

.third-menu-slide{
    display: flex;
    width: 100vw;
    /* background-color: black; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title-container{
    margin: 10%;
    text-align: center;
    border-bottom: solid;
    border-bottom-color: var(--light-purple);
    border-width: 1px;
    width: 70%;
    height: 200px;
}

.snabblänkar-grid-container{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    justify-content: center;
    row-gap: 40px;
    margin-bottom: 10vh;
}

.snabblänkar-row{
    display: flex;
    gap: 20px;
}

.snabblänk-cell{
    height: 400px;
    width: 400px; 
    text-align: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px var(--light-purple);
    transition: height 0.3s, width 0.3s;
    overflow: hidden;
}

.snabblänk-cell:hover{
    height: 500px;
    width: 500px;
}

.snabblänk-cell-bgr-img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    z-index: 1;
    border-radius: 20px;
}

.snabblänk-cell-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.snabblänk-cutout{
    --img-size: 300px;
    top: calc(110% - var(--img-size));
    left: -10%;
}

.rekå-cutout.snabblänk-cutout:hover{
    --img-size: 300px;
}

.footer-container{
    width: 100vw;
    height: 30vh;
    background-color: var(--dark-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 30px;
    font-size: 20px;
}

.footer-img{
    object-fit: contain;
    height: 15vh;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        top: 55%
    }
    to {
        opacity: 1;
    }
}

@keyframes zoom{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.08)
    }
}

