.menu-container{
    position: relative;
    display: block;
    height: 100vh;
    width: 100vw;
    
}


.menu-background-img{
    display:block;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.menu-background-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.509);
    height: 100%;
    width: 100%;
    z-index: 2;
    box-shadow: 0px -30px 10px rgba(18, 17, 17, 0.783) inset;
}

.menu-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: Daddyinspace, sans-serif;
    font-weight: 400;
    font-size: 118px;
    text-align: center;
    z-index: 3;
    animation: fadeIn 0.8s ease-in;
}

.second-menu-slide{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
    
}

.text-box-1{
    height: 550px;
    width: 1040px;
    background-color: var(--dark-purple);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border-color: var(--light-purple);
    border-style: solid;
    border-top: 0;
    border-left: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    color: white;
    padding: 50px;
    opacity: 0;
}

.text-box-1.render{
    opacity: 1;
    animation: fadeIn 0.8s ease-in;
}

.text-box-1 > h2{
    margin-bottom: 50px;
}

.text-box-1 > p{
    font-size: 20px;
}

.custom-shape-divider{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 1;
    fill: var(--light-purple);
    
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 55%
    }
    to {
        opacity: 1;
    }
}

