
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    background-color: #803795;
    height: 10vh;
}

.logo-container{
    display:flex;
    width: 20em;    
    padding: 8px;
}

.logo-nav:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.logo-nav{
    padding: 10px;
    border-radius: 100px;
}

.logo-img{
    max-width: 100%;
    height: auto;
}

